<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <script src="/js/main.js" />

</head>

<body>

<div class="jumbotron text-center">
    <img src="/img/codecool-logo.png" alt="" />
</div>

<div class="container">

        <select name="categoryFilter" id="categoryFilter" class="selectpicker"  data-style="btn-success">
            <option>All Categories</option>
            <div class="well well-sm" th:each="category : ${categories}">
                <option th:text="${category.getName()}">Category Title</option>
            </div>
        </select>

        <select name="supplierFilter" id="supplierFilter" class="selectpicker"  data-style="btn-success">
            <option>All Suppliers</option>
            <div class="well well-sm" th:each="supplier : ${suppliers}">
                <option th:text="${supplier.getName()}">Supplier Title</option>
            </div>
        </select>
        <button id="button" class="btn btn-success">OK</button>
    <br>
    </br>

    <button type="button" class="btn btn-success btn-lg" id="modal" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart fa" aria-hidden="true"></i> ( <span id="shoppingCartItems">0</span> )
    </button>

    <br>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your shopping cart</h4>
                </div>

                <div class="modal-body" id="modalText">
                    <div id="shoppingCart" class="row list-group">

                        <p>Shopping cart is empty</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    </br>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products} ">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button th:id="${prod.id}" class="btn btn-success addToCart">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>